/AVAC/__pycache__
/AVAC/pyclaw.log
/Clawpack_example_2d_shallow
/Export
/Figures
/Topo

# Simulation folders and files
/AVAC/_grimsel*                 
/AVAC/_moiry*
/AVAC/_output
/AVAC/*.data
/AVAC/*.mod
/AVAC/*.o
/AVAC/.output
/AVAC/avac.log
/AVAC/init.xyz
/AVAC/xgeoclaw